.input-dialog-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.input-dialog-box {
  padding: 16px;
  spacing: 12px;
  background-color: rgba(30, 30, 30, 0.95);
  border-radius: 8px;
  min-width: 250px;
  max-width: 400px; /* prevent too wide */
  color: white;
}

.input-dialog-prompt {
  font-weight: bold;
  color: white;
}

.input-dialog-entry {
  padding: 6px 10px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.input-dialog-button {
  color: rgb(240, 240, 240);
  background-color: rgb(70, 70, 70);
  border-radius: 4px;
  padding: 6px 16px;
  font-weight: bold;
  spacing: 10px;
}

.input-dialog-button:hover {
  background-color: rgb(90, 90, 90);
  border-color: rgb(110, 110, 110);
}

.input-dialog-button-ok {
  background-color: rgb(50, 90, 50);
  margin-left: 8px;
  margin-right: 8px;
}

.input-dialog-button-ok:hover {
  background-color: rgb(60, 110, 60);
}

.input-dialog-checkbox {
  padding: 8px 12px;
  border-radius: 6px;
  border: 2px solid rgba(22, 51, 22, 0.2);
  background-color: rgba(255,255,255,0.1);
}

.input-dialog-checkbox:checked {
  background-color: rgb(60, 110, 60);
  color: #ffffff;
}

.input-dialog-checkbox:hover {
  border: 2px solid rgba(255,255,255,0.1);
}

